{% extends 'Base.html' %}
{% load static %}
{% block extra_properties %}
    <link rel="stylesheet" href="{% static 'Home/CSS/Product_details.css' %}">
{% endblock %}
{% block title %}Product details{% endblock %}
{% block content %}
    <h1 style="text-align: center"><i>Product Details</i></h1><hr><br>
    <table class="table table-dark table-striped">
  <tbody>
    <tr>
        <th scope="row">Product name :</th>
        <td>{{product_details.product_name}}</td>
    </tr>
    <tr>
        <th scope="row">Product price :</th>
        <td>{{ product_details.product_price}} Rial</td>
    </tr>
    <tr>
        <th scope="row">Last availability :</th>
        <td>{{ product_details.product_availability}}</td>
    </tr>
    <tr>
        <th scope="row">About product :</th>
        <td>{{ product_details.product_descriptions|safe}}</td>
    </tr>
  </tbody>
</table><br><br>
    <h6>Product image</h6>
    <img src="{{product_details.product_image.url}}" class="rounded" alt="..." style="width: 300px;border: black solid 2px"><br><br>
    <h6>How many of this product do you want ?</h6>
    <form action="{% url 'Order:add_to_cart' product_details.id %}" class="col-md-6" novalidate method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="add to cart">
    </form>
{% endblock %}