{% extends 'Base.html' %}
{% block title %}Cart{% endblock %}
{% block content %}
    <h1 style="text-align: center"><i>Cart Page</i></h1><hr><br>
    <table class="table table-dark table-striped">
      <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Product name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Unit price(Rial)</th>
          <th scope="col">Total price(Rial)</th>
          <th scope="col">Remove</th>
      </tr>
      </thead>
      <tbody>
      {% for item in cart %}
          <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{item.product}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.price}} Rial</td>
              <td>{{item.total_price}} Rial</td>
              <td><a style="text-decoration: none" href="{% url 'Order:remove_from_cart' item.product.id %}">Remove</a></td>
          </tr>
      {% empty %}
          <p class="alert alert-danger" style="text-align: center;display: inline-block">Your cart is empty</p>
      {% endfor %}
      <tr>
          <td>Total price(Rial)</td>
          <td colspan="4"></td>
          <td>{{cart.calculate_total_price}} Rial</td>
      </tr>
      </tbody>
    </table><br><br>
    <a class="btn btn-primary" href="{% url 'Order:create_order' %}">Check out</a>
{% endblock %}